body{
	background-color: #326444;
}
h1{
			font-style: ralway;
			font-size: 40px;
			color: green;
}	
		h2{
			font-style: gothic sans;
			font-size: 30px;
			color: salmon;
			text-align: center;
		}
		.big{
			font-size: 60px;
		}
		.uppercase{
			text-transform: uppercase;
		}